{% extends 'layout.html' %}

{% set db = get_theme_db() %}

{% block head %}
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    rel="stylesheet">
{% endblock %}

{% block body %}
    <div class='view-admin'>
        <div class='view-admin-top'>
            <div class='view-admin-top-section'>
                <h2>{{ db['title'] if 'title' in db else 'nilms' }}</h2>
            </div>
            <div class='view-admin-top-section'>
                <!--<a href='#' class='menu-item'>
                    menu
                </a>
                <a href='#' class='menu-item'>
                    search
                </a>-->
            </div>
            <div class='view-admin-top-section'>
                <div class='menu-item'>
                    <div class='menu-item-circle' style='background-image: url({{ url_for('static', filename='image/avatar.jpg') }});'>
                    </div>
                    <div class='menu-item-dropdown'>
                        <ul>
                            <li><a href='/admin/logout'>Logout<i class='material-icons'>exit_to_app</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='view-admin-bottom'>
            <div class='view-admin-menu'>
                <a href='/admin/dashboard' {% if 'dashboard' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>dashboard</i>
                    </div>
                    <div class='menu-item-text'>
                        dashboard
                    </div>
                </a>
                <a href='/admin/pages' {% if 'pages' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>web</i>
                    </div>
                    <div class='menu-item-text'>
                        pages
                    </div>
                </a>
                <a href='/admin/posts' {% if 'posts' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>content_copy</i>
                    </div>
                    <div class='menu-item-text'>
                        posts
                    </div>
                </a>
                <a href='/admin/assets' {% if 'assets' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>photo_library</i>
                    </div>
                    <div class='menu-item-text'>
                        assets
                    </div>
                </a>
                <a href='/admin/theme-db' {% if 'theme-db' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>storage</i>
                    </div>
                    <div class='menu-item-text'>
                        Theme Database
                    </div>
                </a>
                <a href='/admin/settings' {% if 'settings' in request.url_rule.rule %}data-selected='1'{% endif %} class='menu-item'>
                    <div class='menu-item-indicator'>
                    </div>
                    <div class='menu-item-icon-holder'>
                        <i class='material-icons'>settings</i>
                    </div>
                    <div class='menu-item-text'>
                        settings
                    </div>
                </a>
            </div>
            <div class='view-admin-content'>
                {% block admin_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
