{% extends 'layout.html' %}


{% block body %}
    <div class='view-login'>
        <div class='card login-card'>
            <form class='form' method='POST'>
                <h2>Login</h2>
                <label class='push-down' for='username'>
                    <p>username</p>
                    <input type='text' class='input-text' name='username'/>
                </label>
                <label for='password'>
                    <p>password</p>
                    <input type='password' class='input-text' name='password'/>
                </label>
                <input type='submit' class='btn btn-ok' value='Login'/>
            </form>
            {% include 'components/errors.html' %}
        </div>
    </div>
{% endblock %}
