{% extends 'admin/layout_admin.html' %}


{% block admin_content %}
    <div class='split' style='height: 100px; line-height: 100px;'>
        <section class='centered-vertical'><h2>Pages</h2></section>
        <section class='from-right'>
            <a href='/admin/page' class='btn btn-ok'>Create Page</a>
        </section>
    </div>

    <table class='table push-down'>
        <thead>
            <tr>
                <th>name</th>
                <th>template</th>
                <th>startpage</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href='/admin/page/{{ page.id }}'>{{ page.name }}</a></td>
                    <td>{{ page.template }}</td>
                    <td>{{ 'yes' if page.is_startpage else 'no' }}</td>
                    <td>{{ page.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
