{% extends 'admin/layout_admin.html' %}


{% block admin_content %}
    <form method='POST' class='form' enctype='multipart/form-data'>
        <div class='split' style='height: 100px; line-height: 100px;'>
            <section class='centered-vertical'><h2>{{ page.name if page }}</h2></section>
            <section class='from-right'>
                {% if page %}
                    <input type='submit' name='delete' class='btn' value='Delete'/>
                    <input type='submit' name='delete-data' class='btn' value='Clear Data ({{ page.data.keys() | length }})'/>
                    <a href='/{{ page.name }}' class='btn btn-primary'>Edit on site</a>
                {% endif %}
                <input type='submit' name='submit' class='btn btn-ok' value='Save Changes'/>
            </section>
        </div>
        <div class='page-info'>
            <label for='page-name'>
                <p>Name</p>
                <input type='text' name='page-name' class='input-text' value='{{ page.name if page }}' />
            </label>
            <label for='page-template'>
                <p>Template</p>
                <select name='page-template'>
                    {% for template in templates %}
                        <option {% if page and page.template == template.name %}selected{% endif %} value='{{ template.name }}'>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for='page-is_startpage'>
                Use as startpage
                <input type='checkbox' name='page-is_startpage' {% if page and page.is_startpage %}checked{% endif %}>
            </label>
            {% if page and template_config %}
                <div class='push-down'>
                    <h3>Template fields</h3>
                    <div class='push-down template-fields'>
                        {% for name, field_config in template_config.fields.items() %}
                            <div class='template-fields-field'>
                                <section>
                                    <p>{{ name }}</p>
                                </section>
                                <section>
                                    {% if field_config.type == 'asset' %}
                                        {% if page.get_field(name) %}
                                            <img style='width: 100px;' src='/uploads/{{ page.get_field(name).filename }}'/>
                                        {% endif %}
                                        <input type='file' name='template-field_{{ name }}'/>
                                    {% elif field_config.type == 'string' %}
                                        <input type='text' class='input-text' name='template-field_{{ name }}' value='{{ page.get_field(name) }}'/>
                                    {% elif field_config.type == 'textarea' %}
                                        <textarea class='input-textarea' name='template-field_{{ name }}'>{{ page.get_field(name) }}</textarea>
                                    {% endif %}
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
