{% extends 'admin/layout_admin.html' %}


{% block admin_content %}
    <form method='POST' class='form' enctype='multipart/form-data'>
        <div class='split' style='height: 100px; line-height: 100px;'>
            <section class='centered-vertical'><h2>{{ post.name if post }}</h2></section>
            <section class='from-right'>
                {% if post %}
                    <input type='submit' name='delete' class='btn' value='Delete'/>
                    <a href='/post/{{ post.id }}' class='btn btn-primary'>View</a>
                {% endif %}
                <input type='submit' name='submit' class='btn btn-ok' value='Save Changes'/>
            </section>
        </div>
        <div class='page-info'>
            <label for='post-name'>
                <p>Name</p>
                <input type='text' name='post-name' class='input-text' value='{{ post.name if post }}' />
            </label>
            <label for='post-content'>
                <p>Content</p>
                <textarea class='input-textarea' name='post-content'>{{ post.content if post else '' }}</textarea>
            </label>
            <label for='post-template'>
                <p>Template</p>
                <select name='post-template'>
                    {% for template in templates %}
                        <option {% if post and post.template == template.name %}selected{% endif %} value='{{ template.name }}'>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for='post-assets'>
                {% if post and post.assets %}
                    <div class='asset-gallery'>
                        {% for asset in post.assets %}
                            <div class='asset-gallery-item' style='background-image: url("/uploads/{{ asset.filename }}");'></div>
                        {% endfor %}
                    </div>
                {% endif %}
                <input type='file' name='new-assets' multiple>
            </label>
            <label for='post-is_published'>
                Published
            <input type='checkbox' name='post-is_published' {% if post and not post.is_published %}{% else %}checked{% endif %}>
            </label>
        </div>
    </form>
{% endblock %}
