{% extends 'admin/layout_admin.html' %}


{% block admin_content %}
    <div class='split' style='height: 100px; line-height: 100px;'>
        <section class='centered-vertical'><h2>Posts</h2></section>
        <section class='from-right'>
            <a href='/admin/post' class='btn btn-ok'>Create Post</a>
        </section>
    </div>

    <table class='table push-down'>
        <thead>
            <tr>
                <th>name</th>
                <th>kind</th>
                <th>published</th>
                <th>created</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href='/admin/post/{{ post.id }}'>{{ post.name }}</a></td>
                    <td>{{ post.kind }}</td>
                    <td>{{ 'yes' if post.is_published else 'no' }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
