{% if not post %}
    <input type='hidden' name='page_id' value='{{ page.id }}'/>
    <div class='popups-container' data-active='false'>
        <div class='popups-container-popup' data-name='popup-loading' data-active='false'>
            <p>Please wait...</p>
        </div>
    </div>
{% endif %}
<style type='text/css'>
{% include 'editing/medium-editor.min.css' %}
{% include 'editing/admin_navigation.css' %}
</style>
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='site/css/style.css') }}'>
<nav class='admin-navigation-editing'>
    <a href='/admin' class='admin-navigation-editing-item'>admin</a>
    {% if not post %}
        <div id='admin-save' class='admin-navigation-editing-item'>save</div>
    {% endif %}
</nav>
{% if not post %}
    <script type='text/javascript'>
        {% include 'editing/medium-editor.min.js' %}
    </script>
    <script type='text/javascript' src='/static/site/js/packed.js'></script>
{% endif %}
