@import 'mixins.scss';


.split {
    @include display-flex();
    flex-direction: row;

    section {
        flex: 1;
    }
}

.from-right {
    text-align: right;
}

.centered-vertical {
    @include display-flex();
    align-items: center;
}
