@import 'mixins.scss';
@import 'variables.scss';


.template-fields {
    .template-fields-field {
        @include display-flex;
        flex-direction: row;
        overflow: hidden;

        section:nth-child(1) {
            @include display-flex();
            box-sizing: border-box;
            padding-right: 1rem;
            justify-content: center;
            align-items: center;
            border-right-color: $color_light_text;
            border-right-style: solid;
            border-right-width: 1px;
        }
        
        section:nth-child(2) {
            flex: 1;
            @include display-flex;
            align-items: center;

            input[type='file'] {
                margin-left: 1rem;
            }
        }
    }
}
